@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/transitions';

.accordion {
  @include list-unstyled;

  &__header {
    padding: 30px;
    background-color: pink;
    z-index: 10;
  }

  &__item {
    position: relative;
  }
}

.fill {
  height: 1000px;
  background: salmon;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
